.mediaViewInfo {
	--web-view-name: Web 1920 – 8;
	--web-view-id: Web_1920__8;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__8;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__8 {
	position: absolute;
	width: 1920px;
	height: 4902px;
	background-color: rgba(235,235,235,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 8;
	--web-view-id: Web_1920__8;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Path_6_o {
	fill: url(#Path_6_o);
}
.Path_6_o {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 4335px;
	left: 0px;
	top: 289px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_14 {
	transform: matrix(1,0,0,1,1989.9998,54.9998) rotate(-90deg);
	transform-origin: center;
	position: absolute;
	width: 68px;
	height: 626px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	filter: drop-shadow(0px 3px 50px rgba(0, 0, 0, 0.322));
	position: absolute;
	overflow: visible;
	width: 776px;
	height: 218px;
	left: 0px;
	top: 0px;
}
#Group_1 {
	transform: translate(-329px, 1841.837px) matrix(1,0,0,1,1794.342,359.8559) rotate(90deg);
	transform-origin: center;
	position: absolute;
	width: 27.661px;
	height: 15.427px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 30.662px;
	height: 3px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 30.662px;
	height: 3px;
	left: 0px;
	top: 7.447px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 30.662px;
	height: 3px;
	left: 0px;
	top: 15.426px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_49_w {
	fill: url(#Rectangle_49_w);
}
.Rectangle_49_w {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 4406px;
	left: 850px;
	top: 218px;
}
#Metvy_Indias_first_AI-driven_m {
	left: 960px;
	top: 408px;
	position: absolute;
	overflow: visible;
	width: 609px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#As_a_value_addition_to_our_vis {
	left: 960px;
	top: 1198px;
	position: absolute;
	overflow: visible;
	width: 745px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Path_1 {
	fill: rgba(28,28,28,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 1056.583px;
	height: 71.062px;
	left: 863.417px;
	top: 217.938px;
	transform: matrix(1,0,0,1,0,0);
}
#-_Fitting_the_gaps_in_educatio {
	left: 927px;
	top: 226px;
	position: absolute;
	overflow: visible;
	width: 665px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 37px;
	height: 4px;
	left: 839px;
	top: 424px;
}
#Group_17 {
	position: absolute;
	width: 481px;
	height: 90px;
	left: 617px;
	top: 3686px;
	overflow: visible;
}
#Rectangle_57 {
	fill: rgba(249,249,249,1);
}
.Rectangle_57 {
	position: absolute;
	overflow: visible;
	width: 481px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#About_the_Programs {
	left: 59px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#noun_Arrow_3134098 {
	position: absolute;
	width: 51.196px;
	height: 51.196px;
	left: 402.157px;
	top: 19.147px;
	overflow: visible;
}
#Path_191 {
	fill: rgba(72,72,72,1);
}
.Path_191 {
	overflow: visible;
	position: absolute;
	width: 51.196px;
	height: 51.196px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_ {
	fill: rgba(28,28,28,1);
}
.Rectangle_5_ {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: -3px;
}
#Path_167 {
	fill: rgba(235,235,235,1);
}
.Path_167 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 71.062px;
	left: 0px;
	top: 146.938px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook {
	position: absolute;
	width: 30.655px;
	height: 29.655px;
	left: 1737px;
	top: 63.346px;
	overflow: visible;
}
#Path_2 {
	fill: rgba(255,255,255,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 30.655px;
	height: 29.654px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(28,28,28,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 13.9px;
	height: 24.095px;
	left: 11.826px;
	top: 5.56px;
	transform: matrix(1,0,0,1,0,0);
}
#instagram_1 {
	position: absolute;
	width: 30.742px;
	height: 30.628px;
	left: 1792.939px;
	top: 62.848px;
	overflow: visible;
}
#Path_4 {
	fill: rgba(255,255,255,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 30.742px;
	height: 30.628px;
	left: 0px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
	fill: rgba(255,255,255,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 12.5px;
	height: 12.453px;
	left: 9.122px;
	top: 9.087px;
	transform: matrix(1,0,0,1,0,0);
}
#linkedin-logo {
	position: absolute;
	width: 29.686px;
	height: 29.686px;
	left: 1682.32px;
	top: 63.789px;
	overflow: visible;
}
#post-linkedin {
	position: absolute;
	width: 29.686px;
	height: 29.686px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_192 {
	fill: rgba(255,255,255,1);
}
.Path_192 {
	overflow: visible;
	position: absolute;
	width: 29.686px;
	height: 29.686px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3 {
	position: absolute;
	width: 376px;
	height: 79px;
	left: 38px;
	top: 33px;
	overflow: visible;
}
#Metvy_Learn_logo_FINAL {
	position: absolute;
	width: 79px;
	height: 79px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Metvy_Learn {
	left: 90px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 287px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	color: rgba(246,246,246,1);
}
#Group_10 {
	position: absolute;
	width: 592px;
	height: 36px;
	left: 966px;
	top: 60px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 117px;
	height: 35px;
	left: 317px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(88,88,88,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#About_Metvy {
	left: 13px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#Group_6 {
	position: absolute;
	width: 97px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 97px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_br {
	fill: rgba(88,88,88,1);
}
.Rectangle_3_br {
	position: absolute;
	overflow: visible;
	width: 97px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Catalogue {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#Group_7 {
	position: absolute;
	width: 96px;
	height: 35px;
	left: 159px;
	top: 0px;
	overflow: visible;
}
#Group_5_bu {
	position: absolute;
	width: 96px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_bv {
	fill: rgba(88,88,88,1);
}
.Rectangle_3_bv {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Register {
	left: 18px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#Group_8 {
	position: absolute;
	width: 96px;
	height: 36px;
	left: 496px;
	top: 0px;
	overflow: visible;
}
#Group_5_by {
	position: absolute;
	width: 96px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_bz {
	fill: rgba(88,88,88,1);
}
.Rectangle_3_bz {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Careers {
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#twitter-sign {
	position: absolute;
	width: 29.211px;
	height: 29.211px;
	left: 1848.537px;
	top: 63.789px;
	overflow: visible;
}
#Path_7 {
	fill: rgba(255,255,255,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 29.21px;
	height: 29.211px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Contact_Us {
	left: 961px;
	top: 4050px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Metvy_Learn_logo_FINAL_b {
	position: absolute;
	width: 435px;
	height: 435px;
	left: 240px;
	top: 402px;
	overflow: visible;
}
#Metvy_Learn_b {
	left: 262px;
	top: 910px;
	position: absolute;
	overflow: visible;
	width: 393px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(255,255,255,1);
}
#Rectangle_67 {
	fill: rgba(255,255,255,1);
}
.Rectangle_67 {
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 4px;
	left: 761px;
	top: 2056px;
}
#Group_57 {
	position: absolute;
	width: 481px;
	height: 90px;
	left: 227px;
	top: 2015px;
	overflow: visible;
}
#Rectangle_57_b {
	fill: rgba(249,249,249,1);
}
.Rectangle_57_b {
	position: absolute;
	overflow: visible;
	width: 481px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#Our_Partners {
	left: 155px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#Amazon_logo {
	position: absolute;
	width: 389px;
	height: 164px;
	left: 381px;
	top: 2335px;
	overflow: visible;
}
#microsoft-logo-images-png-33 {
	position: absolute;
	width: 447px;
	height: 95px;
	left: 1010px;
	top: 2348px;
	overflow: visible;
}
#unnamed {
	position: absolute;
	width: 646px;
	height: 269px;
	left: 366px;
	top: 2552px;
	overflow: visible;
}
#purepngcom-pepsico-logologobra {
	position: absolute;
	width: 578px;
	height: 166px;
	left: 900px;
	top: 2587px;
	overflow: visible;
}
#unnamed_1 {
	position: absolute;
	width: 315px;
	height: 164px;
	left: 428px;
	top: 2938px;
	overflow: visible;
}
#The-World-Bank-Logo {
	position: absolute;
	width: 492px;
	height: 277px;
	left: 970px;
	top: 2882px;
	overflow: visible;
}
#Facebook-New-Logo {
	position: absolute;
	width: 360px;
	height: 136px;
	left: 410px;
	top: 3205px;
	overflow: visible;
}
#Rectangle_68 {
	fill: rgba(255,255,255,1);
}
.Rectangle_68 {
	position: absolute;
	overflow: visible;
	width: 460px;
	height: 136px;
	left: 1018px;
	top: 3205px;
}
#Walmart_logosvg {
	position: absolute;
	width: 365px;
	height: 91px;
	left: 1066px;
	top: 3228px;
	overflow: visible;
}