.mediaViewInfo {
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920__3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__3 {
	position: absolute;
	width: 1920px;
	height: 3349px;
	background-color: rgba(235,235,235,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 3;
	--web-view-id: Web_1920__3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Path_6_j {
	fill: url(#Path_6_j);
}
.Path_6_j {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 2779.565px;
	left: 0px;
	top: 289px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_14 {
	position: absolute;
	width: 68px;
	height: 626px;
	left: 1822px;
	top: 360px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	filter: drop-shadow(0px 3px 50px rgba(0, 0, 0, 0.322));
	position: absolute;
	overflow: visible;
	width: 218px;
	height: 776px;
	left: 0px;
	top: 0px;
}
#Group_1 {
	position: absolute;
	width: 27.661px;
	height: 15.427px;
	left: 20.505px;
	top: 30.856px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 30.662px;
	height: 3px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 30.662px;
	height: 3px;
	left: 0px;
	top: 7.447px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 30.662px;
	height: 3px;
	left: 0px;
	top: 15.427px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_49_r {
	fill: url(#Rectangle_49_r);
}
.Rectangle_49_r {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 2851px;
	left: 850px;
	top: 218px;
}
#Metvy_is_an_extremely_user-fri {
	left: 960px;
	top: 408px;
	position: absolute;
	overflow: visible;
	width: 727px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Path_1 {
	fill: rgba(28,28,28,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 1056.583px;
	height: 71.062px;
	left: 863.417px;
	top: 217.938px;
	transform: matrix(1,0,0,1,0,0);
}
#-_How_Metvy_Works {
	left: 927px;
	top: 225px;
	position: absolute;
	overflow: visible;
	width: 442px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Group_26 {
	position: absolute;
	width: 434.5px;
	height: 59px;
	left: 213px;
	top: 2198px;
	overflow: visible;
}
#google {
	position: absolute;
	width: 179px;
	height: 59px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#apple {
	position: absolute;
	width: 193.5px;
	height: 59px;
	left: 241px;
	top: 0px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 37px;
	height: 5px;
	left: 839px;
	top: 424px;
}
#Screen_-_1 {
	filter: drop-shadow(0px 3px 50px rgba(0, 0, 0, 0.478));
	position: absolute;
	width: 531px;
	height: 972px;
	left: 165px;
	top: 1183px;
	overflow: visible;
}
#Group_24 {
	position: absolute;
	width: 132px;
	height: 172px;
	left: 104px;
	top: 465px;
	overflow: visible;
}
#Group_25 {
	position: absolute;
	width: 132px;
	height: 172px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(255,255,255,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#noun_sign_up_form_1450607 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 36px;
	top: 36px;
	overflow: visible;
}
#Group_30 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_193 {
	fill: rgba(67,186,142,1);
}
.Path_193 {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_194 {
	fill: rgba(67,186,142,1);
}
.Path_194 {
	overflow: visible;
	position: absolute;
	width: 6px;
	height: 6px;
	left: 4px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_195 {
	fill: rgba(67,186,142,1);
}
.Path_195 {
	overflow: visible;
	position: absolute;
	width: 6px;
	height: 6px;
	left: 12px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_196 {
	fill: rgba(67,186,142,1);
}
.Path_196 {
	overflow: visible;
	position: absolute;
	width: 6px;
	height: 6px;
	left: 20px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_197 {
	fill: rgba(67,186,142,1);
}
.Path_197 {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 14px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_198 {
	fill: rgba(67,186,142,1);
}
.Path_198 {
	overflow: visible;
	position: absolute;
	width: 52px;
	height: 16px;
	left: 4px;
	top: 26px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_199 {
	fill: rgba(67,186,142,1);
}
.Path_199 {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 6px;
	left: 39px;
	top: 31px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_200 {
	fill: rgba(67,186,142,1);
}
.Path_200 {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 6px;
	left: 9px;
	top: 31px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_201 {
	fill: rgba(67,186,142,1);
}
.Path_201 {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 2px;
	left: 19px;
	top: 17px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_202 {
	fill: rgba(67,186,142,1);
}
.Path_202 {
	overflow: visible;
	position: absolute;
	width: 32px;
	height: 2px;
	left: 14px;
	top: 21px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_203 {
	fill: rgba(67,186,142,1);
}
.Path_203 {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 2px;
	left: 4px;
	top: 45px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_204 {
	fill: rgba(67,186,142,1);
}
.Path_204 {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 2px;
	left: 4px;
	top: 49px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_205 {
	fill: rgba(67,186,142,1);
}
.Path_205 {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 2px;
	left: 4px;
	top: 53px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_206 {
	fill: rgba(67,186,142,1);
}
.Path_206 {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 2px;
	left: 33px;
	top: 45px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_207 {
	fill: rgba(67,186,142,1);
}
.Path_207 {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 2px;
	left: 33px;
	top: 49px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_208 {
	fill: rgba(67,186,142,1);
}
.Path_208 {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 2px;
	left: 33px;
	top: 53px;
	transform: matrix(1,0,0,1,0,0);
}
#Users_SignUp {
	left: 3px;
	top: 150px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Group_45 {
	position: absolute;
	width: 134px;
	height: 200px;
	left: 273px;
	top: 465px;
	overflow: visible;
}
#Group_23 {
	position: absolute;
	width: 132px;
	height: 132px;
	left: 1px;
	top: 0px;
	overflow: visible;
}
#Ellipse_2 {
	fill: rgba(255,255,255,1);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#noun_Data_Insight_idea_1864909 {
	position: absolute;
	width: 63.988px;
	height: 63.8px;
	left: 39px;
	top: 34px;
	overflow: visible;
}
#Group_44 {
	position: absolute;
	width: 63.988px;
	height: 63.8px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_31 {
	position: absolute;
	width: 2.2px;
	height: 2.2px;
	left: 5.5px;
	top: 53.1px;
	overflow: visible;
}
#Ellipse_5 {
	fill: rgba(67,186,142,1);
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 2.2px;
	height: 2.2px;
	left: 0px;
	top: 0px;
}
#Group_32 {
	position: absolute;
	width: 2.2px;
	height: 2.2px;
	left: 5.6px;
	top: 27px;
	overflow: visible;
}
#Path_209 {
	fill: rgba(67,186,142,1);
}
.Path_209 {
	overflow: visible;
	position: absolute;
	width: 2.2px;
	height: 2.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_33 {
	position: absolute;
	width: 2.211px;
	height: 2.2px;
	left: 5.5px;
	top: 13.9px;
	overflow: visible;
}
#Path_210 {
	fill: rgba(67,186,142,1);
}
.Path_210 {
	overflow: visible;
	position: absolute;
	width: 2.211px;
	height: 2.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_34 {
	position: absolute;
	width: 2.2px;
	height: 2.2px;
	left: 5.5px;
	top: 40.1px;
	overflow: visible;
}
#Ellipse_6 {
	fill: rgba(67,186,142,1);
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 2.2px;
	height: 2.2px;
	left: 0px;
	top: 0px;
}
#Group_35 {
	position: absolute;
	width: 40.7px;
	height: 53.7px;
	left: 0px;
	top: 10.1px;
	overflow: visible;
}
#Path_211 {
	fill: rgba(67,186,142,1);
}
.Path_211 {
	overflow: visible;
	position: absolute;
	width: 40.7px;
	height: 53.7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_36 {
	position: absolute;
	width: 0.4px;
	height: 1.9px;
	left: 8.9px;
	top: 14.4px;
	overflow: visible;
}
#Path_212 {
	fill: rgba(67,186,142,1);
}
.Path_212 {
	overflow: visible;
	position: absolute;
	width: 0.4px;
	height: 1.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_37 {
	position: absolute;
	width: 36.8px;
	height: 36.7px;
	left: 10.3px;
	top: 0px;
	overflow: visible;
}
#Path_213 {
	fill: rgba(67,186,142,1);
}
.Path_213 {
	overflow: visible;
	position: absolute;
	width: 36.8px;
	height: 36.7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_38 {
	position: absolute;
	width: 3.2px;
	height: 3.2px;
	left: 49.4px;
	top: 39.1px;
	overflow: visible;
}
#Path_214 {
	fill: rgba(67,186,142,1);
}
.Path_214 {
	overflow: visible;
	position: absolute;
	width: 3.2px;
	height: 3.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_39 {
	position: absolute;
	width: 24.188px;
	height: 24.2px;
	left: 39.8px;
	top: 29.5px;
	overflow: visible;
}
#Path_215 {
	fill: rgba(67,186,142,1);
}
.Path_215 {
	overflow: visible;
	position: absolute;
	width: 24.188px;
	height: 24.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_40 {
	position: absolute;
	width: 3.2px;
	height: 3.2px;
	left: 55.4px;
	top: 45.1px;
	overflow: visible;
}
#Path_216 {
	fill: rgba(67,186,142,1);
}
.Path_216 {
	overflow: visible;
	position: absolute;
	width: 3.2px;
	height: 3.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_41 {
	position: absolute;
	width: 4.4px;
	height: 4.4px;
	left: 26.4px;
	top: 12.5px;
	overflow: visible;
}
#Path_217 {
	fill: rgba(67,186,142,1);
}
.Path_217 {
	overflow: visible;
	position: absolute;
	width: 4.4px;
	height: 4.4px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_42 {
	position: absolute;
	width: 18.4px;
	height: 22.307px;
	left: 19.4px;
	top: 4.393px;
	overflow: visible;
}
#Path_218 {
	fill: rgba(67,186,142,1);
}
.Path_218 {
	overflow: visible;
	position: absolute;
	width: 18.4px;
	height: 22.307px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_43 {
	position: absolute;
	width: 8.9px;
	height: 4.2px;
	left: 24.1px;
	top: 28.2px;
	overflow: visible;
}
#Path_219 {
	fill: rgba(67,186,142,1);
}
.Path_219 {
	overflow: visible;
	position: absolute;
	width: 8.9px;
	height: 4.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Insights_on_the_Data {
	left: 0px;
	top: 150px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Group_46 {
	position: absolute;
	width: 132px;
	height: 172px;
	left: 444px;
	top: 465px;
	overflow: visible;
}
#Group_22 {
	position: absolute;
	width: 132px;
	height: 132px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_3 {
	fill: rgba(255,255,255,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#noun_AI_3474396 {
	position: absolute;
	width: 49px;
	height: 60px;
	left: 42px;
	top: 36px;
	overflow: visible;
}
#Ai-Artificial_Intelligence-Com {
	position: absolute;
	width: 49px;
	height: 60px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_220 {
	fill: rgba(67,186,142,1);
}
.Path_220 {
	overflow: visible;
	position: absolute;
	width: 49px;
	height: 56px;
	left: 0px;
	top: 4px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_58 {
	fill: rgba(67,186,142,1);
}
.Rectangle_58 {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 9px;
	top: 51px;
}
#Rectangle_59 {
	fill: rgba(67,186,142,1);
}
.Rectangle_59 {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 13px;
	top: 51px;
}
#Rectangle_60 {
	fill: rgba(67,186,142,1);
}
.Rectangle_60 {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 35px;
	top: 51px;
}
#Rectangle_61 {
	fill: rgba(67,186,142,1);
}
.Rectangle_61 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 2px;
	left: 17px;
	top: 51px;
}
#Rectangle_62 {
	fill: rgba(67,186,142,1);
}
.Rectangle_62 {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 39px;
	top: 51px;
}
#Rectangle_63 {
	fill: rgba(67,186,142,1);
}
.Rectangle_63 {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 40px;
	top: 31px;
}
#Path_221 {
	fill: rgba(67,186,142,1);
}
.Path_221 {
	overflow: visible;
	position: absolute;
	width: 26px;
	height: 24px;
	left: 12px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_222 {
	fill: rgba(67,186,142,1);
}
.Path_222 {
	overflow: visible;
	position: absolute;
	width: 2.707px;
	height: 4.707px;
	left: 20px;
	top: 14px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_223 {
	fill: rgba(67,186,142,1);
}
.Path_223 {
	overflow: visible;
	position: absolute;
	width: 2.707px;
	height: 4.707px;
	left: 27.293px;
	top: 14px;
	transform: matrix(1,0,0,1,0,0);
}
#AI_Processing {
	left: 2px;
	top: 150px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Group_21 {
	position: absolute;
	width: 132px;
	height: 201px;
	left: 613px;
	top: 465px;
	overflow: visible;
}
#Ellipse_4 {
	fill: rgba(255,255,255,1);
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 132px;
	height: 132px;
	left: 0px;
	top: 0px;
}
#Intuitive_Networking {
	left: 12px;
	top: 150px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#noun_Network_1350199 {
	position: absolute;
	width: 71.165px;
	height: 60.018px;
	left: 30px;
	top: 37.318px;
	overflow: visible;
}
#Group_47 {
	position: absolute;
	width: 71.165px;
	height: 60.018px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_224 {
	fill: rgba(67,186,142,1);
}
.Path_224 {
	overflow: visible;
	position: absolute;
	width: 71.165px;
	height: 60.018px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_c {
	fill: rgba(0,0,0,1);
}
.Rectangle_5_c {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: -3px;
}
#Path_167 {
	fill: rgba(235,235,235,1);
}
.Path_167 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 71.062px;
	left: 0px;
	top: 146.938px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook {
	position: absolute;
	width: 30.655px;
	height: 29.655px;
	left: 1737px;
	top: 63.345px;
	overflow: visible;
}
#Path_2 {
	fill: rgba(255,255,255,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 30.655px;
	height: 29.655px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(39,39,39,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 13.9px;
	height: 24.094px;
	left: 11.826px;
	top: 5.56px;
	transform: matrix(1,0,0,1,0,0);
}
#instagram_1 {
	position: absolute;
	width: 30.742px;
	height: 30.628px;
	left: 1792.939px;
	top: 62.847px;
	overflow: visible;
}
#Path_4 {
	fill: rgba(255,255,255,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 30.742px;
	height: 30.628px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
	fill: rgba(255,255,255,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 12.5px;
	height: 12.453px;
	left: 9.122px;
	top: 9.087px;
	transform: matrix(1,0,0,1,0,0);
}
#linkedin-logo {
	position: absolute;
	width: 29.686px;
	height: 29.686px;
	left: 1682.32px;
	top: 63.789px;
	overflow: visible;
}
#post-linkedin {
	position: absolute;
	width: 29.686px;
	height: 29.686px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_192 {
	fill: rgba(255,255,255,1);
}
.Path_192 {
	overflow: visible;
	position: absolute;
	width: 29.686px;
	height: 29.686px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3 {
	position: absolute;
	width: 227px;
	height: 65px;
	left: 45px;
	top: 39px;
	overflow: visible;
}
#Metvy_Icon {
	position: absolute;
	width: 65px;
	height: 65px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Metvy {
	left: 83px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	color: rgba(246,246,246,1);
}
#Group_10 {
	position: absolute;
	width: 592px;
	height: 36px;
	left: 966px;
	top: 60px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 117px;
	height: 35px;
	left: 317px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(88,88,88,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Metvy_Learn {
	left: 15px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#Group_6 {
	position: absolute;
	width: 97px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 97px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_do {
	fill: rgba(88,88,88,1);
}
.Rectangle_3_do {
	position: absolute;
	overflow: visible;
	width: 97px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#About_Us {
	left: 16px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#Group_7 {
	position: absolute;
	width: 96px;
	height: 35px;
	left: 159px;
	top: 0px;
	overflow: visible;
}
#Group_5_dr {
	position: absolute;
	width: 96px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_ds {
	fill: rgba(88,88,88,1);
}
.Rectangle_3_ds {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#The_Team {
	left: 13px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#Group_8 {
	position: absolute;
	width: 96px;
	height: 36px;
	left: 496px;
	top: 0px;
	overflow: visible;
}
#Group_5_dv {
	position: absolute;
	width: 96px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_dw {
	fill: rgba(88,88,88,1);
}
.Rectangle_3_dw {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Careers {
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#twitter-sign {
	position: absolute;
	width: 29.211px;
	height: 29.211px;
	left: 1848.537px;
	top: 63.789px;
	overflow: visible;
}
#Path_7 {
	fill: rgba(255,255,255,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 29.21px;
	height: 29.211px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Never_Miss_Our_News__Updates {
	left: 961px;
	top: 2495px;
	position: absolute;
	overflow: visible;
	width: 735px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Group_49 {
	position: absolute;
	width: 1482px;
	height: 386px;
	left: 219px;
	top: 2615px;
	overflow: visible;
}
#Rectangle_7 {
	fill: rgba(249,249,249,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 1482px;
	height: 386px;
	left: 0px;
	top: 0px;
}
#Enter_your_E-mail_ {
	left: 475px;
	top: 174px;
	position: absolute;
	overflow: visible;
	width: 275px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#Line_5 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 684px;
	height: 2px;
	left: 465.5px;
	top: 221.5px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Mail_3520039 {
	position: absolute;
	width: 256.531px;
	height: 252.184px;
	left: 302.2px;
	top: 2682px;
	overflow: visible;
}
#Path_225_d {
	fill: url(#Path_225_d);
}
.Path_225_d {
	overflow: visible;
	position: absolute;
	width: 256.53px;
	height: 252.184px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_51 {
	position: absolute;
	width: 90px;
	height: 90px;
	left: 1405px;
	top: 2763px;
	overflow: visible;
}
#Ellipse_12 {
	fill: rgba(67,187,142,1);
}
.Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#noun_send_992838 {
	position: absolute;
	width: 40.571px;
	height: 33.194px;
	left: 22.995px;
	top: 31.813px;
	overflow: visible;
}
#Group_50 {
	position: absolute;
	width: 40.571px;
	height: 33.194px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_226 {
	fill: rgba(255,255,255,1);
}
.Path_226 {
	overflow: visible;
	position: absolute;
	width: 40.572px;
	height: 33.194px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}