.mediaViewInfo {
	--web-view-name: Web 1920 – 10;
	--web-view-id: Web_1920__10;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__10;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__10 {
	position: absolute;
	width: 1920px;
	height: 5960px;
	background-color: rgba(235,235,235,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 10;
	--web-view-id: Web_1920__10;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Path_6_q {
	fill: url(#Path_6_q);
}
.Path_6_q {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 5389.049px;
	left: 0px;
	top: 289px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_14 {
	transform: matrix(1,0,0,1,1989.9998,54.9998) rotate(-90deg);
	transform-origin: center;
	position: absolute;
	width: 68px;
	height: 626px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
}
.Rectangle_5 {
	filter: drop-shadow(0px 3px 50px rgba(0, 0, 0, 0.322));
	position: absolute;
	overflow: visible;
	width: 776px;
	height: 218px;
	left: 0px;
	top: 0px;
}
#Group_1 {
	transform: translate(-329px, 1841.837px) matrix(1,0,0,1,1794.342,359.8559) rotate(90deg);
	transform-origin: center;
	position: absolute;
	width: 27.661px;
	height: 15.427px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 30.662px;
	height: 3px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 30.662px;
	height: 3px;
	left: 0px;
	top: 7.447px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 30.662px;
	height: 3px;
	left: 0px;
	top: 15.427px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_49_y {
	fill: url(#Rectangle_49_y);
}
.Rectangle_49_y {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 5460px;
	left: 850px;
	top: 218px;
}
#Metvy_Research_Project_Program {
	left: 960px;
	top: 413px;
	position: absolute;
	overflow: visible;
	width: 710px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Path_1 {
	fill: rgba(28,28,28,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 1056.583px;
	height: 71.062px;
	left: 863.417px;
	top: 217.938px;
	transform: matrix(1,0,0,1,0,0);
}
#-_Fitting_the_gaps_in_educatio {
	left: 927px;
	top: 226px;
	position: absolute;
	overflow: visible;
	width: 665px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 37px;
	height: 4px;
	left: 839px;
	top: 424px;
}
#Rectangle_5_ {
	fill: rgba(28,28,28,1);
}
.Rectangle_5_ {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 150px;
	left: 0px;
	top: -3px;
}
#Path_167 {
	fill: rgba(235,235,235,1);
}
.Path_167 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 71.062px;
	left: 0px;
	top: 146.938px;
	transform: matrix(1,0,0,1,0,0);
}
#facebook {
	position: absolute;
	width: 30.655px;
	height: 29.655px;
	left: 1737px;
	top: 63.345px;
	overflow: visible;
}
#Path_2 {
	fill: rgba(255,255,255,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 30.655px;
	height: 29.655px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(28,28,28,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 13.9px;
	height: 24.094px;
	left: 11.826px;
	top: 5.56px;
	transform: matrix(1,0,0,1,0,0);
}
#instagram_1 {
	position: absolute;
	width: 30.742px;
	height: 30.628px;
	left: 1792.939px;
	top: 62.847px;
	overflow: visible;
}
#Path_4 {
	fill: rgba(255,255,255,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 30.742px;
	height: 30.628px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
	fill: rgba(255,255,255,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 12.5px;
	height: 12.453px;
	left: 9.122px;
	top: 9.087px;
	transform: matrix(1,0,0,1,0,0);
}
#linkedin-logo {
	position: absolute;
	width: 29.686px;
	height: 29.686px;
	left: 1682.32px;
	top: 63.789px;
	overflow: visible;
}
#post-linkedin {
	position: absolute;
	width: 29.686px;
	height: 29.686px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_192 {
	fill: rgba(255,255,255,1);
}
.Path_192 {
	overflow: visible;
	position: absolute;
	width: 29.686px;
	height: 29.686px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3 {
	position: absolute;
	width: 376px;
	height: 79px;
	left: 38px;
	top: 33px;
	overflow: visible;
}
#Metvy_Learn_logo_FINAL {
	position: absolute;
	width: 79px;
	height: 79px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Metvy_Learn {
	left: 90px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 287px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	color: rgba(246,246,246,1);
}
#Group_10 {
	position: absolute;
	width: 592px;
	height: 36px;
	left: 966px;
	top: 60px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 117px;
	height: 35px;
	left: 317px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(88,88,88,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#About_Metvy {
	left: 13px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#Group_6 {
	position: absolute;
	width: 97px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 97px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_bn {
	fill: rgba(88,88,88,1);
}
.Rectangle_3_bn {
	position: absolute;
	overflow: visible;
	width: 97px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Home {
	left: 27px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#Group_7 {
	position: absolute;
	width: 96px;
	height: 35px;
	left: 159px;
	top: 0px;
	overflow: visible;
}
#Group_5_bq {
	position: absolute;
	width: 96px;
	height: 35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_br {
	fill: rgba(88,88,88,1);
}
.Rectangle_3_br {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#Register {
	left: 18px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#Group_8 {
	position: absolute;
	width: 96px;
	height: 36px;
	left: 496px;
	top: 0px;
	overflow: visible;
}
#Group_5_bu {
	position: absolute;
	width: 96px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3_bv {
	fill: rgba(88,88,88,1);
}
.Rectangle_3_bv {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Careers {
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(246,246,246,1);
	letter-spacing: 0.1px;
}
#twitter-sign {
	position: absolute;
	width: 29.211px;
	height: 29.211px;
	left: 1848.537px;
	top: 63.789px;
	overflow: visible;
}
#Path_7 {
	fill: rgba(255,255,255,1);
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 29.21px;
	height: 29.211px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Contact_Us {
	left: 961px;
	top: 5104px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Group_62 {
	position: absolute;
	width: 466px;
	height: 571px;
	left: 181px;
	top: 402px;
	overflow: visible;
}
#Rectangle_69 {
	opacity: 0.38;
	fill: rgba(255,255,255,1);
}
.Rectangle_69 {
	position: absolute;
	overflow: visible;
	width: 466px;
	height: 571px;
	left: 0px;
	top: 0px;
}
#Group_60 {
	position: absolute;
	width: 316px;
	height: 444px;
	left: 75px;
	top: 55px;
	overflow: visible;
}
#Metvy_Research_Project_Program_b {
	left: 0px;
	top: 333px;
	position: absolute;
	overflow: visible;
	width: 317px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	color: rgba(255,255,255,1);
}
#humaaans_1 {
	position: absolute;
	width: 216px;
	height: 290px;
	left: 50px;
	top: 0px;
	overflow: visible;
}
#Group_18 {
	position: absolute;
	width: 552px;
	height: 386px;
	left: 181px;
	top: 1570px;
	overflow: visible;
}
#Rectangle_6 {
	fill: rgba(249,249,249,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 552px;
	height: 386px;
	left: 0px;
	top: 0px;
}
#Rigorous_understanding_of_the_ {
	left: 110px;
	top: 206px;
	position: absolute;
	overflow: visible;
	width: 333px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#Group_19 {
	position: absolute;
	width: 552px;
	height: 386px;
	left: 960px;
	top: 1857px;
	overflow: visible;
}
#Rectangle_7 {
	fill: rgba(249,249,249,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 552px;
	height: 386px;
	left: 0px;
	top: 0px;
}
#Twenty_days_of_constant_mentor {
	left: 85px;
	top: 216px;
	position: absolute;
	overflow: visible;
	width: 383px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#noun_Writing_582053 {
	position: absolute;
	width: 87.205px;
	height: 87.205px;
	left: 244.5px;
	top: 89.795px;
	overflow: visible;
}
#Group_65 {
	position: absolute;
	width: 87.205px;
	height: 87.205px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_241 {
	fill: rgba(81,163,165,1);
}
.Path_241 {
	overflow: visible;
	position: absolute;
	width: 87.205px;
	height: 87.205px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_75 {
	fill: rgba(81,163,165,1);
}
.Rectangle_75 {
	width: 15.472px;
	height: 2.813px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,63.5708,38.3985) rotate(-45deg);
	transform-origin: center;
}
#Rectangle_76 {
	fill: rgba(81,163,165,1);
}
.Rectangle_76 {
	position: absolute;
	overflow: visible;
	width: 23.911px;
	height: 2.813px;
	left: 14.065px;
	top: 8.439px;
}
#Rectangle_77 {
	fill: rgba(81,163,165,1);
}
.Rectangle_77 {
	position: absolute;
	overflow: visible;
	width: 23.911px;
	height: 2.813px;
	left: 14.065px;
	top: 18.285px;
}
#Rectangle_78 {
	fill: rgba(81,163,165,1);
}
.Rectangle_78 {
	position: absolute;
	overflow: visible;
	width: 2.813px;
	height: 2.813px;
	left: 14.065px;
	top: 73.14px;
}
#Rectangle_79 {
	fill: rgba(81,163,165,1);
}
.Rectangle_79 {
	position: absolute;
	overflow: visible;
	width: 2.813px;
	height: 2.813px;
	left: 19.691px;
	top: 73.14px;
}
#Rectangle_80 {
	fill: rgba(81,163,165,1);
}
.Rectangle_80 {
	position: absolute;
	overflow: visible;
	width: 2.813px;
	height: 2.813px;
	left: 25.317px;
	top: 73.14px;
}
#Rectangle_81 {
	fill: rgba(81,163,165,1);
}
.Rectangle_81 {
	position: absolute;
	overflow: visible;
	width: 39.383px;
	height: 2.813px;
	left: 14.065px;
	top: 28.131px;
}
#Rectangle_82 {
	fill: rgba(81,163,165,1);
}
.Rectangle_82 {
	position: absolute;
	overflow: visible;
	width: 39.383px;
	height: 2.813px;
	left: 14.065px;
	top: 37.976px;
}
#Group_20 {
	position: absolute;
	width: 552px;
	height: 386px;
	left: 181px;
	top: 2164px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(249,249,249,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 552px;
	height: 386px;
	left: 0px;
	top: 0px;
}
#Two_session_from_Industry_Expe {
	left: 86px;
	top: 219px;
	position: absolute;
	overflow: visible;
	width: 381px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#noun_Laptop_3477202 {
	position: absolute;
	width: 83.796px;
	height: 83.796px;
	left: 233.979px;
	top: 91.979px;
	overflow: visible;
}
#Path_242 {
	fill: rgba(83,159,169,1);
}
.Path_242 {
	overflow: visible;
	position: absolute;
	width: 69.83px;
	height: 33.515px;
	left: 6.983px;
	top: 50.281px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_243 {
	fill: rgba(83,159,169,1);
}
.Path_243 {
	overflow: visible;
	position: absolute;
	width: 83.796px;
	height: 72.623px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_83 {
	fill: rgba(83,159,169,1);
}
.Rectangle_83 {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 3px;
	left: 35.021px;
	top: 50.021px;
}
#Rectangle_84 {
	fill: rgba(83,159,169,1);
}
.Rectangle_84 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 3px;
	left: 40.021px;
	top: 50.021px;
}
#Rectangle_85 {
	fill: rgba(83,159,169,1);
}
.Rectangle_85 {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 3px;
	left: 46.021px;
	top: 50.021px;
}
#Path_244 {
	fill: rgba(83,159,169,1);
}
.Path_244 {
	overflow: visible;
	position: absolute;
	width: 25.139px;
	height: 25.139px;
	left: 44.691px;
	top: 8.38px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_86 {
	fill: rgba(83,159,169,1);
}
.Rectangle_86 {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 4px;
	left: 50.021px;
	top: 13.021px;
}
#Rectangle_87 {
	fill: rgba(83,159,169,1);
}
.Rectangle_87 {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 3px;
	left: 50.021px;
	top: 20.021px;
}
#Path_245 {
	fill: rgba(83,159,169,1);
}
.Path_245 {
	overflow: visible;
	position: absolute;
	width: 25.139px;
	height: 25.139px;
	left: 13.966px;
	top: 13.966px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_88 {
	fill: rgba(83,159,169,1);
}
.Rectangle_88 {
	position: absolute;
	overflow: visible;
	width: 13px;
	height: 3px;
	left: 20.021px;
	top: 20.021px;
}
#Rectangle_89 {
	fill: rgba(83,159,169,1);
}
.Rectangle_89 {
	position: absolute;
	overflow: visible;
	width: 13px;
	height: 3px;
	left: 20.021px;
	top: 25.021px;
}
#Group_28 {
	position: absolute;
	width: 552px;
	height: 386px;
	left: 181px;
	top: 2748px;
	overflow: visible;
}
#Path_179 {
	fill: rgba(249,249,249,1);
}
.Path_179 {
	overflow: visible;
	position: absolute;
	width: 552px;
	height: 386px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Mentorship_services {
	left: 163px;
	top: 227px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#noun_mentorship_2354986 {
	position: absolute;
	width: 77.824px;
	height: 78px;
	left: 237px;
	top: 108px;
	overflow: visible;
}
#Path_246 {
	fill: rgba(87,151,174,1);
}
.Path_246 {
	overflow: visible;
	position: absolute;
	width: 31.646px;
	height: 27.968px;
	left: 0px;
	top: 0.176px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_247 {
	fill: rgba(87,151,174,1);
}
.Path_247 {
	overflow: visible;
	position: absolute;
	width: 31.647px;
	height: 27.968px;
	left: 46.178px;
	top: 0.176px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_20 {
	fill: rgba(87,151,174,1);
}
.Ellipse_20 {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 20px;
	left: 29px;
	top: 0px;
}
#Path_248 {
	fill: rgba(87,151,174,1);
}
.Path_248 {
	overflow: visible;
	position: absolute;
	width: 2.432px;
	height: 6.08px;
	left: 27.36px;
	top: 36.048px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_249 {
	fill: rgba(87,151,174,1);
}
.Path_249 {
	overflow: visible;
	position: absolute;
	width: 2.432px;
	height: 6.08px;
	left: 48.032px;
	top: 36.048px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_250 {
	fill: rgba(87,151,174,1);
}
.Path_250 {
	overflow: visible;
	position: absolute;
	width: 9.746px;
	height: 22.534px;
	left: 0px;
	top: 55.466px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_251 {
	fill: rgba(87,151,174,1);
}
.Path_251 {
	overflow: visible;
	position: absolute;
	width: 9.747px;
	height: 22.534px;
	left: 23.086px;
	top: 55.466px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_252 {
	fill: rgba(87,151,174,1);
}
.Path_252 {
	overflow: visible;
	position: absolute;
	width: 11.616px;
	height: 22.212px;
	left: 20.064px;
	top: 17.51px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_21 {
	fill: rgba(87,151,174,1);
}
.Ellipse_21 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 8px;
	top: 40px;
}
#Path_253 {
	fill: rgba(87,151,174,1);
}
.Path_253 {
	overflow: visible;
	position: absolute;
	width: 2.432px;
	height: 4.864px;
	left: 7.296px;
	top: 73.136px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_254 {
	fill: rgba(87,151,174,1);
}
.Path_254 {
	overflow: visible;
	position: absolute;
	width: 2.432px;
	height: 4.864px;
	left: 23.104px;
	top: 73.136px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_255 {
	fill: rgba(87,151,174,1);
}
.Path_255 {
	overflow: visible;
	position: absolute;
	width: 9.746px;
	height: 22.534px;
	left: 44.992px;
	top: 55.466px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_256 {
	fill: rgba(87,151,174,1);
}
.Path_256 {
	overflow: visible;
	position: absolute;
	width: 9.747px;
	height: 22.534px;
	left: 68.078px;
	top: 55.466px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_257 {
	fill: rgba(87,151,174,1);
}
.Path_257 {
	overflow: visible;
	position: absolute;
	width: 11.616px;
	height: 22.212px;
	left: 46.144px;
	top: 17.51px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_22 {
	fill: rgba(87,151,174,1);
}
.Ellipse_22 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 53px;
	top: 40px;
}
#Path_258 {
	fill: rgba(87,151,174,1);
}
.Path_258 {
	overflow: visible;
	position: absolute;
	width: 2.432px;
	height: 4.864px;
	left: 52.288px;
	top: 73.136px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_259 {
	fill: rgba(87,151,174,1);
}
.Path_259 {
	overflow: visible;
	position: absolute;
	width: 2.432px;
	height: 4.864px;
	left: 68.097px;
	top: 73.136px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_260 {
	fill: rgba(87,151,174,1);
}
.Path_260 {
	overflow: visible;
	position: absolute;
	width: 12.16px;
	height: 2.432px;
	left: 7.296px;
	top: 9.904px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_261 {
	fill: rgba(87,151,174,1);
}
.Path_261 {
	overflow: visible;
	position: absolute;
	width: 12.16px;
	height: 2.432px;
	left: 58.368px;
	top: 9.904px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_262 {
	fill: rgba(87,151,174,1);
}
.Path_262 {
	overflow: visible;
	position: absolute;
	width: 12.16px;
	height: 2.432px;
	left: 7.296px;
	top: 14.768px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_263 {
	fill: rgba(87,151,174,1);
}
.Path_263 {
	overflow: visible;
	position: absolute;
	width: 12.16px;
	height: 2.432px;
	left: 58.368px;
	top: 14.768px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_27 {
	position: absolute;
	width: 552px;
	height: 386px;
	left: 960px;
	top: 2424px;
	overflow: visible;
}
#Path_169 {
	fill: rgba(249,249,249,1);
}
.Path_169 {
	overflow: visible;
	position: absolute;
	width: 552px;
	height: 386px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#One_internal_expert_session {
	left: 125px;
	top: 237px;
	position: absolute;
	overflow: visible;
	width: 303px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#noun_Laptop_3477202_dt {
	position: absolute;
	width: 83.796px;
	height: 83.796px;
	left: 233.979px;
	top: 108.979px;
	overflow: visible;
}
#Path_242_du {
	fill: rgba(83,159,169,1);
}
.Path_242_du {
	overflow: visible;
	position: absolute;
	width: 69.83px;
	height: 33.515px;
	left: 6.983px;
	top: 50.281px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_243_dv {
	fill: rgba(83,159,169,1);
}
.Path_243_dv {
	overflow: visible;
	position: absolute;
	width: 83.796px;
	height: 72.623px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_83_dw {
	fill: rgba(83,159,169,1);
}
.Rectangle_83_dw {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 3px;
	left: 35.021px;
	top: 50.021px;
}
#Rectangle_84_dx {
	fill: rgba(83,159,169,1);
}
.Rectangle_84_dx {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 3px;
	left: 40.021px;
	top: 50.021px;
}
#Rectangle_85_dy {
	fill: rgba(83,159,169,1);
}
.Rectangle_85_dy {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 3px;
	left: 46.021px;
	top: 50.021px;
}
#Path_244_dz {
	fill: rgba(83,159,169,1);
}
.Path_244_dz {
	overflow: visible;
	position: absolute;
	width: 25.139px;
	height: 25.139px;
	left: 44.691px;
	top: 8.38px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_86_d {
	fill: rgba(83,159,169,1);
}
.Rectangle_86_d {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 4px;
	left: 50.021px;
	top: 13.021px;
}
#Rectangle_87_d {
	fill: rgba(83,159,169,1);
}
.Rectangle_87_d {
	position: absolute;
	overflow: visible;
	width: 14px;
	height: 3px;
	left: 50.021px;
	top: 20.021px;
}
#Path_245_d {
	fill: rgba(83,159,169,1);
}
.Path_245_d {
	overflow: visible;
	position: absolute;
	width: 25.139px;
	height: 25.139px;
	left: 13.966px;
	top: 13.966px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_88_d {
	fill: rgba(83,159,169,1);
}
.Rectangle_88_d {
	position: absolute;
	overflow: visible;
	width: 13px;
	height: 3px;
	left: 20.021px;
	top: 20.021px;
}
#Rectangle_89_d {
	fill: rgba(83,159,169,1);
}
.Rectangle_89_d {
	position: absolute;
	overflow: visible;
	width: 13px;
	height: 3px;
	left: 20.021px;
	top: 25.021px;
}
#Group_13 {
	position: absolute;
	width: 179px;
	height: 1180px;
	left: 757px;
	top: 1761px;
	overflow: visible;
}
#Rectangle_50 {
	fill: rgba(255,255,255,1);
}
.Rectangle_50 {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 4px;
	left: 0px;
	top: 0px;
}
#Rectangle_53 {
	fill: rgba(255,255,255,1);
}
.Rectangle_53 {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 4px;
	left: 60px;
	top: 287px;
}
#Rectangle_54 {
	fill: rgba(255,255,255,1);
}
.Rectangle_54 {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 4px;
	left: 60px;
	top: 862px;
}
#Rectangle_51 {
	fill: rgba(255,255,255,1);
}
.Rectangle_51 {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 4px;
	left: 0px;
	top: 575px;
}
#Rectangle_52 {
	fill: rgba(255,255,255,1);
}
.Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 4px;
	left: 0px;
	top: 1176px;
}
#The_program_will_be_broadly_di {
	left: 960px;
	top: 1384px;
	position: absolute;
	overflow: visible;
	width: 670px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#We_will_provide_the_following_ {
	left: 960px;
	top: 3485px;
	position: absolute;
	overflow: visible;
	width: 717px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Program_Structure {
	left: 961px;
	top: 1227px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Perks__Benefits {
	left: 961px;
	top: 3328px;
	position: absolute;
	overflow: visible;
	width: 375px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#noun_understanding_3050124 {
	position: absolute;
	width: 70.852px;
	height: 87.205px;
	left: 422.004px;
	top: 1653.795px;
	overflow: visible;
}
#Path_237 {
	fill: rgba(77,168,160,1);
}
.Path_237 {
	overflow: visible;
	position: absolute;
	width: 12.264px;
	height: 2.725px;
	left: 35.424px;
	top: 79.03px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_18 {
	fill: rgba(77,168,160,1);
}
.Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 10px;
	left: 36.996px;
	top: 20.205px;
}
#Path_238 {
	fill: rgba(77,168,160,1);
}
.Path_238 {
	overflow: visible;
	position: absolute;
	width: 70.852px;
	height: 87.205px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_239 {
	fill: rgba(77,168,160,1);
}
.Path_239 {
	overflow: visible;
	position: absolute;
	width: 28.619px;
	height: 28.619px;
	left: 27.246px;
	top: 10.898px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_240 {
	fill: rgba(77,168,160,1);
}
.Path_240 {
	overflow: visible;
	position: absolute;
	width: 23.164px;
	height: 23.164px;
	left: 16.349px;
	top: 40.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_19 {
	fill: rgba(77,168,160,1);
}
.Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 10px;
	left: 22.996px;
	top: 47.205px;
}
#Group_17 {
	position: absolute;
	width: 481px;
	height: 90px;
	left: 617px;
	top: 4658px;
	overflow: visible;
}
#Rectangle_57 {
	fill: rgba(249,249,249,1);
}
.Rectangle_57 {
	position: absolute;
	overflow: visible;
	width: 481px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#Register_Now {
	left: 104px;
	top: 29.001px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#noun_Arrow_3134098 {
	position: absolute;
	width: 51.196px;
	height: 51.196px;
	left: 402.157px;
	top: 19.099px;
	overflow: visible;
}
#Path_191 {
	fill: rgba(72,72,72,1);
}
.Path_191 {
	overflow: visible;
	position: absolute;
	width: 51.196px;
	height: 51.196px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_66 {
	position: absolute;
	width: 481px;
	height: 90px;
	left: 960px;
	top: 902px;
	overflow: visible;
}
#Rectangle_57_es {
	fill: rgba(249,249,249,1);
}
.Rectangle_57_es {
	position: absolute;
	overflow: visible;
	width: 481px;
	height: 90px;
	left: 0px;
	top: 0px;
}
#Register_Now_et {
	left: 104px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(72,72,72,1);
	letter-spacing: 0.1px;
}
#noun_Arrow_3134098_eu {
	position: absolute;
	width: 51.196px;
	height: 51.196px;
	left: 402.157px;
	top: 19.147px;
	overflow: visible;
}
#Path_191_ev {
	fill: rgba(72,72,72,1);
}
.Path_191_ev {
	overflow: visible;
	position: absolute;
	width: 51.196px;
	height: 51.197px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Certificate {
	left: 584px;
	top: 3884px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Internship_opportunity_with_Me {
	left: 926px;
	top: 4068px;
	position: absolute;
	overflow: visible;
	width: 295px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Chance_to_get_your_Research_Pa {
	left: 496px;
	top: 4252px;
	position: absolute;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Now Display;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Ellipse_23 {
	fill: rgba(255,255,255,1);
}
.Ellipse_23 {
	position: absolute;
	overflow: visible;
	width: 184px;
	height: 184px;
	left: 549px;
	top: 3679px;
}
#Ellipse_25 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_25 {
	position: absolute;
	overflow: visible;
	width: 184px;
	height: 184px;
	left: 549px;
	top: 4047px;
}
#Ellipse_24 {
	fill: rgba(255,255,255,1);
}
.Ellipse_24 {
	position: absolute;
	overflow: visible;
	width: 184px;
	height: 184px;
	left: 981px;
	top: 3863px;
}
#noun_Certificate_1191142 {
	position: absolute;
	width: 98px;
	height: 95.9px;
	left: 588px;
	top: 3725px;
	overflow: visible;
}
#Path_264 {
	fill: rgba(87,139,174,1);
}
.Path_264 {
	overflow: visible;
	position: absolute;
	width: 98px;
	height: 89.78px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_265 {
	fill: rgba(87,139,174,1);
}
.Path_265 {
	overflow: visible;
	position: absolute;
	width: 40.891px;
	height: 38.547px;
	left: 55.771px;
	top: 32.182px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_266 {
	fill: rgba(87,139,174,1);
}
.Path_266 {
	overflow: visible;
	position: absolute;
	width: 18.699px;
	height: 20.95px;
	left: 66.9px;
	top: 74.95px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_267 {
	fill: rgba(87,139,174,1);
}
.Path_267 {
	overflow: visible;
	position: absolute;
	width: 40.54px;
	height: 5px;
	left: 26.1px;
	top: 16.66px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_268 {
	fill: rgba(87,139,174,1);
}
.Path_268 {
	overflow: visible;
	position: absolute;
	width: 31px;
	height: 5px;
	left: 26.14px;
	top: 29.27px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_269 {
	fill: rgba(87,139,174,1);
}
.Path_269 {
	overflow: visible;
	position: absolute;
	width: 23.131px;
	height: 5px;
	left: 26.1px;
	top: 41.89px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_270 {
	fill: rgba(87,139,174,1);
}
.Path_270 {
	overflow: visible;
	position: absolute;
	width: 21.149px;
	height: 5px;
	left: 26.16px;
	top: 54.5px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_Star_2168973 {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 1038px;
	top: 3920px;
	overflow: visible;
}
#Group_67 {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_271 {
	fill: rgba(87,134,174,1);
}
.Path_271 {
	overflow: visible;
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#noun_degree_3007522 {
	position: absolute;
	width: 75.216px;
	height: 87.878px;
	left: 597.554px;
	top: 4095.442px;
	overflow: visible;
}
#Group_68 {
	position: absolute;
	width: 75.216px;
	height: 87.878px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_272 {
	fill: rgba(88,128,174,1);
}
.Path_272 {
	overflow: visible;
	position: absolute;
	width: 75.216px;
	height: 87.878px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}